#mapSvg {
    cursor: move;
}

#mapButtonSection {
    position: relative;
    top: -50px;
    left: 10px;
}

#volcanoes circle {
    cursor: pointer;
    fill: gray;
    fill-opacity: 0.5;
    stroke: black;
    stroke-width: 1px;
}