.grid-container {
    display: grid;
    grid-template-columns: [colStart] 3fr [colMainDivider] 1fr [colEnd];
    grid-template-rows: [rowStart] 1fr [rowMainDivider] 4fr [rowEnd];
    grid-gap: 20px;
    width: 100%;
    height: 95vh;
}

#histogram {
    grid-column-start: colStart;
    grid-column-end: colMainDivider;
    grid-row-start: rowStart;
    grid-row-end: rowMainDivider;
    justify-self: stretch;
}

#scatterplot {
    grid-column-start: colMainDivider;
    grid-column-end: colEnd;
    grid-row-start: rowStart;
    grid-row-end: rowEnd;
    justify-self: stretch;
}

#worldMap {
    grid-column-start: colStart;
    grid-column-end: colMainDivider;
    grid-row-start: rowMainDivider;
    grid-row-end: rowEnd;
    justify-self: stretch;
    border: 2px; 
    border-style: solid;
    border-color: black;
}