.axis path,
.axis line {
    fill: none;
    stroke: rgb(46, 46, 46);
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#scatterPoints circle {
    cursor: pointer;
}
